<h2>Next Steps</h2>

<p>Include the following Students:</p>

<input type="checkbox"> Active Prospect&nbsp;&nbsp;
<input type="checkbox"> Customer&nbsp;&nbsp;
<input type="checkbox"> Nurture Prospect&nbsp;&nbsp;
<input type="checkbox"> Inactive Prospect&nbsp;&nbsp;

<hr>

<div id="schedule_assessment">
<%= render :partial => 'schedule_assessment' %>
</div>

<hr>

<div id="confirm_payment">
<%= render :partial => 'confirm_payment' %>
</div>

<hr>

<div id="upload_assessment">
<%= render :partial => 'upload_assessment' %>
</div>