<h2>Next Steps</h2>

<p>Include the following Students:</p>

<input type="checkbox"> Active Prospect&nbsp;&nbsp;
<input type="checkbox"> Customer&nbsp;&nbsp;
<input type="checkbox"> Nurture Prospect&nbsp;&nbsp;
<input type="checkbox"> Inactive Prospect&nbsp;&nbsp;

<hr>

<%= render :partial => 'schedule_assessment' %>

<hr>

<%= render :partial => 'confirm_payment' %>

<hr>

<%= render :partial => 'upload_assessment' %>