<h1>Instruments</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @instruments.each do |instrument| %>
      <tr>
        <td><%= link_to instrument.name, edit_instrument_path(instrument) %></td>
        <td>
          <%= link_to 'Edit', edit_instrument_path(instrument), :class => 'btn btn-mini' %>
          <%= link_to 'Delete', instrument_path(instrument), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New', new_instrument_path, :class => 'btn btn-primary' %>
